*{
	margin:0;
	padding: 0;
}
.navbar-default{
	color: white;
	height: 14%;
}
#logo{
	padding-top: 21px;
}
.navbar-nav{
	padding: 15px 97px;
}
.nav>li>a{
	padding-left: 39px;
}
.first{
	background-image: url(../img/taxi.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
    height: 877px;
}
.caja{
	background-color: #f7b617;
	position: absolute;
    width: 534px;
    height: 310px;
    top: 267px;
    right: 0;
}
h2{
	color:white;
	padding-top: 10px;
    padding-left: 29px;
}
.txt{
	color: white;
    padding-top: 12px;
    padding-left: 32px;
}
.lab{
	height: 21px;
    padding-left: 6px;
}
.reg{
	padding-left: 34px;
    color: white;
}
hr{
	display: inline-block;
	width: 144px;
	margin-right: 29px;
	margin-left: 29px;
}
.bien{
	position: absolute;
    margin-left: 180px;
    top: 185px;
    color:white;
}
.boton{
	position: relative;
	left: 30px;
	font-weight: bold;
}
.second{
	background-color: #f7b617;
	height: 503px;
	color:white;
}
#fono{
	position: relative;
    padding-top: 13px;
    top: 43px;
    left: 122px;
    height: 338px;
}
.borde{
	border: 1px solid #fff;
	height: 463px;
}
.descarga{
    position: relative;
    width: 59%;
    top: 44px;
    left: 118px;
}
.descarga p{
    font-size: 21px;
}
.descarga h4{
font-size: 32px;
}
.third{
	background-image: url(../img/conduce.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 406px;
}
.conduce{
	background-color: black;
	opacity: 0.5;
	height: 406px;
	position: relative;
	bottom: 20px;
	right: 119px;
	width: 448px;
}
.conduce h2{
    color: white;
    padding-top: 101px;
    padding-left: 41px;
}
.conduce p{
	color: white;
    padding-left: 41px;
    font-size: 20px;
}
.conduce button{
	background-color: #f7b617;
    border: none;
    color: white;
    padding-top: 7px;
    position: relative;
    left: 42px;
    width: 262px;
}
.fourth{
	background-color: #f7b617;
	height: 534px;
}
.tarifa h3{
	padding-top: 39px;
    padding-left: 91px;
    color: white;
}
.tarifa p{
	color: white;
    padding-left: 93px;
}
#info1{
	padding-left: 92px;
    padding-top: 14px;
}
#info2{
	padding-left: 92px;
    padding-top: 14px;
}
.tarifa input{
	position: relative;
    left: 124px;
    width: 284px;
    bottom: 26px;
    background: transparent;
    text-decoration-color: white;
}
.ing::-webkit-input-placeholder {
  color: #fff;
}
.tarifa button{
	position: relative;
    left: 174px;
}
#map{
	width: 606px;
    height: 436px;
    margin: -256px 144px;
}
.border-white{
    border: 1px solid #fff;
}