*{
	margin:0;
	padding: 0;
}
.navbar-default{
	color: white;
	height: 14%;
}
#logo{
	padding-top: 21px;
}
.navbar-nav{
	padding: 15px 97px;
}
.nav>li>a{
	padding-left: 39px;
}
.first{
	background-image: url(../img/taxi.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
    height: 877px;
}
.caja{
	background-color: #f7b617;
	position: absolute;
    width: 534px;
    height: 310px;
    top: 267px;
    right: 0;
}
h2{
	color:white;
	padding-top: 10px;
    padding-left: 29px;
}
.txt{
	color: white;
    padding-top: 12px;
    padding-left: 32px;
}
.lab{
	height: 21px;
    padding-left: 6px;
}
.reg{
	padding-left: 34px;
    color: white;
}
hr{
	display: inline-block;
	width: 144px;
	margin-right: 29px;
	margin-left: 29px;
}
.bien{
	position: absolute;
    margin-left: 180px;
    top: 185px;
    color:white;
}
.boton{
	position: relative;
	left: 30px;
	font-weight: bold;
}
